<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <node pkg="rovio" type="rovio_node" name="rovio" output="screen">
  <param name="filter_config" value="$(find rovio)/cfg/vector.info"/>
  <param name="camera0_config" value="$(find rovio)/cfg/rovio_vector_left_regular_camera_intrinsic_results.yaml"/>
  <remap from="/cam0/image_raw" to="/camera/left/image_mono" />
  <remap from="/imu0" to="/imu/data" />
  </node>
</launch>
